* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/* ! NAVBAR */
.navbar-container {
   position: fixed;
   top: 0;
   left: 48%;
   margin-right: 50%;
   transform: translateX(-50%);
   z-index: 10;
   width: 100%;
   height: 70px;
   background: linear-gradient(to bottom, white 50%, rgba(255, 255, 255, 0) 100%);
}

.nav,
.navbar {
   width: 250px;
   margin: auto;
   margin-top: 20px;
   font-family: "Lato", sans-serif;
   font-size: 13px;
   font-weight: 400;
   letter-spacing: 2px;
   list-style: none;
   display: -webkit-flex;
   display: flex;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   flex-wrap: nowrap;
}

.nav a,
.navbar a {
   color: #3c3c3c;
   text-decoration: none;
}

.nav .nav-item,
.navbar .nav-item {
   padding: 5px 0;
}

.nav .nav-item:after,
.navbar .nav-item:after {
   content: " ";
   display: block;
   height: 1px;
   width: 100%;
   position: relative;
   top: 3px;
   background: transparent;
   transition: top 0.3s ease-out;
   -webkit-transition: top 0.3s ease-out;
}

.nav .nav-item:hover:after,
.navbar .nav-item:hover:after {
   top: 7px;
   background: #3c3c3c;
}

.active:after {
   height: 2px !important;
   background: #e74c3c !important;
}

/* Style des listes */
ul {
   list-style-type: none;
   padding: 0;
}

li {
   display: inline;
   margin-right: 15px;
}

a {
   text-decoration: none;
   color: #000;
   font-size: 16px;
}

.card-img-top {
   padding: 20px 10px;
   width: 90%;
}

.card-img-top-strategys {
   padding: 20px 10px;
   width: 63%;
}

.card {
   /* border-radius: 30px; */
   box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
   background-color: #f9f9f9;
   transition: all .3s;
}

.card-body {
   padding: 25px;
   margin-top: -15px;
}

/*! btn cards */
.btn-cards {
   background-color: #e34444;
   width: 150px;
   text-align: center;
   padding: 8px 20px;
   border-radius: 4px;
   margin-top: 1px;
   cursor: pointer;
   transition: all .3s;
   color: white;
}

/*! btn cards hover */
.btn-cards:hover {
   background-color: #cb4040;
}

.card-body h5 {
   margin-top: -28px;
   color: #cb4040;
}

.card:hover {
   transform: scale(1.02, 1.02);
   box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

/*! btn load more  */
.btn-load-more {
   font-size: 16px;
   color: #666;
   border: 1px solid #eaeaea;
   font-weight: bold;
   text-transform: uppercase;
   padding: 11px 73px 9px;
   transition: all 0.3s ease-out 0s;
   cursor: pointer;
   margin-bottom: 34px;
   background-color: #f9f9f9;
}

.btn-load-more:hover {
   background-color: #e34444;
   color: #fff;
}

/* ! Que nous sommes */
h2 {
   text-align: center;
   padding: 16px;
}

.slick-slide {
   margin: 0 20px;
}

.slick-slide img {
   width: 100%;
}

.slick-slider {
   position: relative;
   display: block;
   box-sizing: border-box;
}

.slick-list {
   position: relative;
   display: block;
   overflow: hidden;
   margin: 0;
   padding: 0;
}

.slick-track {
   position: relative;
   top: 0;
   left: 0;
   display: block
}

.slick-slide {
   display: none;
   float: left;
   height: 100%;
   min-height: 1px;
}

.slick-slide img {
   display: block;
}

.slick-initialized .slick-slide {
   display: block;
}

.copy {
   padding-top: 300px;
}

/* ! end que nous sommes */
.rules,
.strategys,
.classmates {
   margin: 22px auto 0px;
   /* Centre horizontalement */
   width: 90%;
   height: 60px;
   /* Hauteur fixe */
   background-color: #f9f9f9;
   display: flex;
   justify-content: center;
   /* Centre le contenu horizontalement */
   align-items: center;
   /* Centre le contenu verticalement */
   font-size: 18px;
   font-weight: bold;
   border: .5px solid rgb(219, 213, 213);
   text-align: center;
   /* Centre le texte à l'intérieur du conteneur */
   font-family: sans-serif;
}

.rules h2,
.strategys h2,
.classmates h2 {
   color: #e34444 !important;
   margin: 0;
}
.classmates{
   margin-bottom:16px !important;
}

/* !contact */
.contain {
   width: 56%;
   margin: 80px auto;
   padding-bottom: 50px;
   background-color: #FFF;
   border-radius: 26px;
   box-shadow: 0px 0px 22px 2px rgba(44, 43, 43, 0.2);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   box-sizing: border-box;
   overflow: hidden;
}

.items {
   padding-top: 20px;
}

input[type="text"],
input[type="email"],
input[type="textarea"] {
   height: 32px;
   width: 420px;
   border: 1px solid black;
   outline: none;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 6px;
   border-top: none;
   border-right: none;
   border-left: none;
   transition: all .4s ease-in;
}

.contain .items h2 {
   font-weight: bold;
   font-size: 30px;
   padding: 14px;
   color:#e34444;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="textarea"]:focus {
   border-bottom-color: #e34444;
}

input[type="submit"] {
   width: 430px;
   border: none;
   border-radius: 12px;
   border: 1.8px solid #e34444;
   background-color: transparent;
   color: #e34444;
   padding: 10px;
   font-size: 19px;
   transition: all 0.1s .1s linear;
   cursor: pointer;
   margin-top: 20px;
   margin-bottom: 14px;
   text-transform: uppercase;
   letter-spacing: 2px;
   ;
}

input[type="submit"]:hover {
   background-color: rgb(230, 45, 45);
   color: #fff;
   box-shadow: 0px 15px 15px rgba(88, 63, 63, 0.2);
   ;
}

a {
   text-decoration: none;
   padding-right: 20px;
   padding-left: 20px;
}

/*! less icones */
.fa-user,
.fa-house,
.fa-envelope,
.fa-phone,
.fa-message {
   font-size: 20px;
   margin-left: -32px;
}

/* ! intro */
 #intro .section-container h2 {
   /* font-size: 100px; */
   position: relative;
   color: #5b85c0;
   background-image: -webkit-linear-gradient(90deg, #a558d4 0%, #34619e 80%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-animation: hue 60s infinite linear;
}

.section-container h2 {
   font-size: 70px;
}

p.intro-des {
   position: relative;
   font-size: 20px;
   line-height: 35px;
   margin-top: 18px;
   margin-bottom:28px;
}

p.intro-des a {
   color: #3c3c3c;
}

p.intro-des span {
   font-size: 15px;
}

/*! Style pour les boutons */
.btn-find-us,
.btn-read-more {
   display: inline-block;
   width: 260px;
   /* Ajustement de la largeur pour ne pas dépasser */
   border-radius: 10px;
   border: 1.8px solid #e34444;
   background-color: transparent;
   padding: 10px;
   text-transform: uppercase;
   font-size: 19px;
   cursor: pointer;
   color: #e34444;
   transition: all 0.1s 0.1s linear;
   text-decoration: none;
   text-align: center;
   margin: 0 10px;
   /* Espace entre les boutons */
   letter-spacing: 1px;
}

/* Effet de survol pour le bouton */
.btn-find-us:hover,
.btn-read-more:hover {
   background-color: #e34444;
   /* Change la couleur de fond au survol */
   color: #fff;
   /* Change la couleur du texte au survol */
}

/* ! image codecraft */
.custom-img {
   max-width: 100%;
   /* Assure que l'image ne dépasse pas la largeur de la colonne */
   height: auto;
   /* Maintient le ratio d'aspect */
   max-height: 300px;
   /* Limite la hauteur si nécessaire */
   object-fit: cover;
   /* Ajuste l'image pour qu'elle remplisse le conteneur sans déformation */
   width: fit-content;
}